img{
  border-radius: 50%;

}
.image{
  text-align: center;
}
body{
  font-family: sans-serif;
}
h1{
  color:gold;
}
.about{
  border-radius: 10%;
  background-color: green;
  text-align: center;

}
.hed{
  color: white;
}
